

h2{
	text-align: center;
	padding: 15px;
}

h3{
	padding: 15px;
}

h4{
	padding: 15px;
}

hr
{
	border : 1px solid #bdc3c7 ;
}

.Name
{
	text-align: center;
}

.Header
{
	margin: 20px;
	font-weight: normal;
    padding: 10px 0;
    font-size: 120%;

	
}